/* Pop */
@keyframes hovercss-pop {
    50% { transform: scale(1.2)}
}

@mixin pop ($time: .75s){
    @include hacks();
    
    &:hover,
    &:focus,
    &:active {
        animation-name: hovercss-pop;
        animation-duration: $time;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
}