/* Shutter Out Horizontal */
@mixin shutter-out-horizontal ($bgColor: blue, $cBgColor: #e1e1e1, $fontColor: #fff, $time: .5s){
    @include hacks();
    position: relative;
    background: $cBgColor;
    transition: color $time;
    
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $bgColor;
        transform: scaleX(0);
        transform-origin: 50%;
        transition: transform $time ease-out;
    }
    
    &:hover,
    &:focus,
    &:active {
        color: $fontColor;
        
        &:before {
            transform: scaleX(1);
        }
    }
}